
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Inconsolata:wght@200&display=swap');

body{
    margin: 0;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

/* header start */
.container{
    width: 90%;
    margin:0 auto;
    overflow: hidden;
}

header{
     padding: 2.4% 0 ;
}

.logo{
    width: 10%;
    float: left;

}
.logo a{
    display: block;
}

.logo a img{
    width: 100%;
    padding: 10px;

}

.menu{
    width: 60%;
    float: right;
}

.menu ul{
    float:right;
    margin: 0;
}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    display: inline-block;
    margin: 0px 47px;
    padding: 10px 2px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    transition: .33s;
    border-bottom: transparent;

}

.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}

.menu ul li:last-child a {
    margin-right: 0;
}
/* header end */

/* Banner Start */

.banner{
    padding:45px 0;

}

.b_img{
    width: 100%;
    margin: 0 auto;
}

.b_img img{
    width:100%
}
/* Banner end */

/* comment start */

.comment{
    padding:25px 0 45px;

}

.container2{
    width: 78%;
    margin: 0 auto;
    overflow: hidden;

}
.commentText{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 0 10px ;
    color: #d2d1cf;
}

.title{
    font-size: 30px;
    font-weight: 400;
    padding: 0 0 10px ;
     
}

.pText{
    padding: 0 0 4% ;
    text-align: justify;

}